<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Registration Form | Codehal</title>
  <!-- Linking stylesheets -->
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/Newform.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>

<body>
  <!-- Login Form -->
  <div class="wrapper">
    <form action="">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required>
        <i class='bx bx-lock-alt'></i>
      </div>  
      <div class="remember-forgot">
        <label><input type="checkbox">Remember Me </label>
        <a href="#">Forgot Password?</a>
      </div>
      <button type="button" class="btn" onclick="window.location.href='index3.html'">Login</button>
      <div class="register-link">
        <p>Don't have an account? <a href="Newform.html">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>
